
.cagesBody {
    background-color: #5c3c92;
}

.cageButton {
    margin-bottom: 60px;
    border-radius: 50%;
    margin-bottom: 60px;
    padding: 20px;
    background-color: #a2d5c6;
    font-size: 20px;
    width: 160px;
    border: none;
    box-shadow: 0px 10px black;
    background-color:#a2d5c6;
    margin-top: 20px;

}

.cageHeading {
    background-color: #5c3c92;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    text-transform: uppercase;
    font-size: 100px;
}

.cageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.theFinalCage {
    width: 400px;
    
}

.nbaLetters {
    margin: 40px;
    width: 100px;
    height: 100px;
}


.cageLoaderImage {

        width: 150px;
        height: 150px;
        animation-name: loading;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-timing-function: linear;
        position: relative;

    }
    
    
    @keyframes loading {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
    }