.wrapper {
  margin: 0px auto;
  max-width: 1200px;
}

.logoContainer {
  height: 75px;
  position: relative;
}

.logo {
  width: auto;
  height: 75px;
  position: absolute;
  transform: scaleX(-1);
  background-color: red;
}
